<h1>Add sales</h1>

<form action="/sales/add" method="POST">
	<div class="product">
		<label for="">product</label>
		<select class="" name="product_id">
			{{#products}}
				<option value="{{id}}">{{product}}</option>
			{{/products}}
		</select>
	</div>
	<div>
		<label for="">date</label>
		<input type="date" name="date" value="{{date}}">
	</div>

		<label for="">qty</label>
		<input type="number" step="any" name="qty" value="{{qty}}">
	</div>
	<div>
		<label for="">salesPrice</label>
		<input type="number" step="any" name="salesPrice" value="{{salesPrice}}">
	</div>

	<input type="submit">
</form>
