<h1>CATEGORY</h1>
    <a href="/categories/add">Add</a>
    <a></a>
        <div class="container">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>category</th>
                        {{#if user.is_admin}}
                            <th>Edit</th>
                            <th>delete</th>
                            <th></th>
                            {{else}}
                            <th></th>
                            {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#categories}}
                        <tr>
                            <td>{{category}}</td>
                            {{#if ../user.is_admin}}
                            <td><button type="button" class="btn btn-warning"><a href="/categories/edit/{{id}}">EDIT</a></button></td>
                            <td><button type="button" class="btn btn-danger"><a href="/categories/delete/{{id}}">DELETE</a></button></td>

                            <td></td>
                            {{else}}
                            <td></td>
                            {{/if}}
                        </tr>
                    {{/categories}}
                </tbody>
            </table>
        </div>

        <!-- {{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}} -->
