<h1>PRODUCTS</h1>
{{# if user.is_admin}}
    <a href="/products/add">Add</a>
    {{else}}
        <a></a>
        {{/if}}
        <div class="container">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>product</th>
                        <th>category</th>
                        {{# if user.is_admin}}
                            <th>Edit</th>
                            <th>DELETE</th>
                            {{else}}
                                <td></td>
                                {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#products}}
                        <tr>
                            <td>{{product}}</td>
                            <td>{{category}}</td>
                            {{# if ../is_admin}}
                                <td><button type="button" class="btn btn-warning"><a href="/products/edit/{{product_id}}">EDIT</a></button></a></td>
                                <td><button type="button" class="btn btn-warning"><a href="/products/delete/{{product_id}}">DELETE</a></button></a></td>
                                {{else}}
                                    <td></td>
                                    {{/if}}
                                  </tr>

                    {{/products}}
                </tbody>
            </table>
        </div>
