                                <h1>PURCHASES</h1>
{{# if user.is_admin}}
<a href="/purchases/add">Add</a>
{{else}}
<a></a>
{{/if}}
<div class="container">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>date</th>
                <th>product</th>
                <th>qty</th>
                <th>cost</th>
                {{# if user.is_admin}}
                <th>Edit</th>
                <th>DELETE</th>
                {{else}}
                <td></td>
                {{/if}}
            </tr>
        </thead>
        <tbody>

{{#purchases}}
<tr>
  <td>{{date}}</td>
    <td>{{product}}</td>
    <td>{{qty}}</td>
    <td>{{cost}}</td>
    {{# if ../user.is_admin}}
    <td><a href="/purchases/edit/{{purchases_id}}">Edit</a></td>
    <td><a href="/purchases/delete/{{purchases_id}}">DELETE</a></td>
    <td></td>
    {{else}}
    <td></td>
    {{/if}}
</tr>
{{/purchases}}
</tbody>
</table>
</div>
