                                <h1>PURCHASES</h1>
{{# if user.is_admin}}
<button type="button" class="btn btn-warning"><a href="/purchases/add">ADD</a></button>
{{else}}
<a></a>
{{/if}}
<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>DATE</th>
                <th>PRODUCT</th>
                <th>QTY</th>
                <th>COST</th>
                {{# if user.is_admin}}
                <th>EDIT</th>
                <th>DELETE</th>
                {{else}}
                <td></td>
                {{/if}}
            </tr>
        </thead>
        <tbody>

{{#purchases}}
<tr>
  <td>{{date}}</td>
    <td>{{product}}</td>
    <td>{{qty}}</td>
    <td>{{cost}}</td>
    {{# if ../user.is_admin}}
    <td><button type="button" class="btn btn-warning"><a href="/products/edit/{{product_id}}">EDIT</a></button></a></td>
    <td><button type="button" class="btn btn-danger"><a href="/products/delete/{{product_id}}">DELETE</a></button></a></td>
    <!-- <td></td> -->
    {{else}}
    <td></td>
    {{/if}}
</tr>
{{/purchases}}
</tbody>
</table>
</div>
