<div class="container">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Description</th>
                <th>Product</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
            {{#stats}}
                <tr>
                    <td>{{description}}</td>
                    <td>{{item}} {{category}}{{Item}}</td>
                    <td>{{qty}} {{quantity}}{{profit}}</td>
                </tr>
            {{/stats}}
        </tbody>
    </table>
</div>
